<div fxLayout="row wrap" fxLayoutGap="20px">
    <div fxFlex >
      <mat-card class="mat-elevation-z8" id="container">
        <mat-card-content>
          <form [formGroup]="loanForm" fxLayout="column" fxLayoutGap="16px">
          <div *ngIf="form['loanAmount'].errors && form['loanAmount'].touched">
  
            <div class="msg-error">
              <mat-icon class="error-icon" color="warn">error</mat-icon>
  
              <span>Loan Amount should only contain whole numbers and/or decimals. Do not include commas or symbols!</span>
             </div>
  
          </div>
        
        <label>Loan Amount: </label>
        <mat-form-field fxFlex appearance="outline" >
        <mat-label>Ex: 42500.00</mat-label>
        <input required type="text" name="loanAmount" id="textLoanAmount" formControlName="loanAmount" matInput/>
        </mat-form-field>
          <div *ngIf="form['numOfYears'].errors && form['numOfYears'].touched">
  
            <div class="msg-error">
              <mat-icon class="error-icon" color="warn">error</mat-icon>
  
              <span>Loan term should only contain whole numbers.</span>
  
            </div>
          </div>
          <label>Length of Loan (Years)</label>
          <mat-form-field fxFlex appearance="outline" >
            <mat-label>Ex: 4</mat-label>
            <input required type="text" name="numOfYears"  matInput formControlName="numOfYears" />
          </mat-form-field>

          <div *ngIf="form['interestRate'].errors && form['interestRate'].touched">
            <div class="msg-error">
              <mat-icon class="error-icon" color="warn">error</mat-icon>
              <span class="error-text-align">Interest rate should only contain whole numbers and/or decimals.</span>
            </div>
          </div>

          <label>Interest Rate</label>
          <mat-form-field fxFlex appearance="outline">
            <mat-label>Ex: 3.0</mat-label>
            <input required type="text" name="InterestRate" matInput formControlName="interestRate" />
          </mat-form-field>
            <button [disabled]="!loanForm.valid" type="submit" mat-raised-button color="accent" (click)="calculateResults()">Calculate</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  
    <div fxFlex class="loan-summary">

      <mat-card class="black" id="container">
  
        <mat-card-content class="yellow loan-summary">
          
            <h3>You Monthly Payment: </h3>
            <app-loan-details [monthlyPayment]="monthlyPayment" class="details"></app-loan-details>
            <hr style="width: 60%; text-align: center;" />
            <h3>Total interest paid:</h3>
            <app-interest-details [interestPaid]="interestPaid" class="details"></app-interest-details>
            <br /><br /><br />
            <button class="clear-button" (click)="clearForm()" >Clear Form</button>

        </mat-card-content>
  
      </mat-card>
  
    </div>
  </div>