<div fxLayout="row wrap" fxLayoutGap="20px">
    <div fxFlex>
  
      <!-- Card for left hand card containing input form for course and grade -->
      <mat-card class="mat-elevation-z8">
  
        <mat-card-content>
  
  
          <form [formGroup]="loanForm" fxLayout="column" fxLayoutGap="16px">
  
          <!-- Display error message if user enters anything other than whole numbers or decimals or touches the input box-->
          <div *ngIf="form['loanAmount'].errors && form['loanAmount'].touched">
  
            <div class="msg-error">
              <mat-icon style="padding-right: 10px; justify-content:center; font-size: 30px;" color="warn">error</mat-icon>
  
              <span class="error-text-align">Loan Amount should only contain whole numbers and/or decimals. Do not include commas or symbols!</span>
             </div>
  
          </div>
  
          <!-- Form field for user to provide text input for Loan Amount  -->
            <mat-form-field fxFlex appearance="outline" >
  
              <mat-label>Loan Amount:</mat-label>
  
              <input required type="text" name="loanAmount" id="textLoanAmount" formControlName="loanAmount" matInput/>
  
            </mat-form-field>
  
          <!-- Display error message if user enters anything other than whole numbers or touches the input box-->
          <div *ngIf="form['numOfYears'].errors && form['numOfYears'].touched">
  
            <div class="msg-error">
              <mat-icon style="padding-right: 10px; justify-content:center; font-size: 30px;" color="warn">error</mat-icon>
  
              <span class="error-text-align">Loan term should only contain whole numbers.</span>
  
            </div>
          </div>
  
          <!-- Form field for user to provide text input for Loan Term  -->
          <mat-form-field fxFlex appearance="outline" >
  
            <mat-label>Loan Term (in years):</mat-label>
  
            <input required type="text" name="numOfYears"  matInput formControlName="numOfYears" />
  
          </mat-form-field>
  
          <!-- Display error message if user enters anything other than whole numbers or decimals or touches the input box-->
          <div *ngIf="form['interestRate'].errors && form['interestRate'].touched">
  
            <div class="msg-error">
              <mat-icon style="padding-right: 10px; justify-content:center; font-size: 30px;" color="warn">error</mat-icon>
  
              <span class="error-text-align">Interest rate should only contain whole numbers and/or decimals.</span>
  
            </div>
          </div>
  
          <!-- Form field for user to provide text input for interest rate -->
          <mat-form-field fxFlex appearance="outline">
  
            <mat-label>Interest Rate (ex. 4.5):</mat-label>
  
            <input required type="text" name="InterestRate" matInput formControlName="interestRate" />
  
          </mat-form-field>
  
            <!-- Button for user to trigger on click event to calculate values based on user input  -->
              <button [disabled]="!loanForm.valid" type="submit" mat-raised-button color="accent"  id="btnCalculate" (click)="calculateResults()">Calculate</button>
  
          </form>
  
        </mat-card-content>
      </mat-card>
    </div>
  
    <div fxFlex class="loan-summary">
  
      <!-- Bottom card to display calculated monthly payment and interest paid   -->
      <mat-card class="black">
  
        <mat-card-content class="yellow loan-summary" style="text-align: center; font-size: 20px;">
  
          Your monthly payment: <br /><br /><br />
          <app-loan-details [monthlyPayment]="monthlyPayment" class="details"></app-loan-details>
  
          <br /><br /><hr style="width: 60%; text-align: center;" /><br />
  
          Total interest paid:
          <br /><br/><br />
          <app-interest-details [interestPaid]="interestPaid" class="details"></app-interest-details>
          <br /><br /><br />
          <!-- Button for user to trigger an onclick event that clears all entry objects and resets monthlyPayment and interestPaid values back to 0  -->
          <button style="float: right;" mat-button color="primary" (click)="clearForm()" >Clear Form</button>
  
        </mat-card-content>
  
      </mat-card>
  
    </div>
  </div>